<!DOCTYPE HTML>
<html lang="en">
{% load static %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>GTIAPP</title>
    <link rel="stylesheet" type="text/css" href=" {% static 'styles/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}" />
    <style>
        .input-style-1 input[type="date"],
        .input-style-1 input[type="text"],
        .input-style-1 textarea,
        .input-style-1 select {
            height: 30px;
            line-height: 30px;
        }

        label {
            margin-bottom: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
    </style>
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href=" {% static 'fonts/css/fontawesome-all.min.css' %}" />
</head>


<body class="theme-light" data-highlight="blue2">
    <!-- <div id="preloader">
        <div class="spinner-border color-highlight" role="status"></div>
    </div> -->
    <div id="page">
        <div id="footer-bar" class="footer-bar-5">
            {% include 'menu.html' %}
        </div>
        <div class="page-content" style="min-height:60vh!important; ">
            <div class="card mb-4 pb-2" data-card-height="60">
                <div class="card-top">
                    <div class="page-title page-title-small">
                        <a href="{% url 'mendc_settings' %}" class="text-white">
                            <h5 class="text-white"><i class="fa fa-arrow-left mr-3"></i>Area Settings</h5>
                        </a>
                    </div>
                </div>
                <div class="card-overlay bg-info opacity-95"></div>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="card card-style my-2">
                    <div class="content my-2">
                        <span class=" color-highlight ">Area</span>
                        {{form.namaArea.errors}}
                        {% for field in form %}
                        <div class="input-style input-style-1">
                            {{field}}
                        </div>
                        {% endfor %}
                        <span class=" color-highlight ">Subarea</span>
                        {% for dict in formset.errors %}
                        {% for error in dict.values %}
                        {{ error }}
                        {% endfor %}
                        {% endfor %}
                        {% for form in formset %}
                        {% for field in form %}
                        {% if field.label != "Id" %}
                        <div class="input-style input-style-1 row mb-0 px-0 py-0 item">
                            <div class="col-9 pr-0">
                                {{field}}
                            </div>
                            <div class="col-3 pl-0">
                                <a id="{{formset.prefix}}" type="button" href="#"
                                    class="bg-danger text-white btn btn-sm text-uppercase font-700 rounded-sm mendc-remove-form-row"
                                    style="padding-top: 2px !important; padding-bottom: 2px !important; width: 100%; ">
                                    <i class="fas fa-minus"></i>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                        {{ formset.management_form }}
                    </div>
                </div>
                <div class="content mx-0 row">
                    <div class="col-6 text-center">
                        <button id="{{formset.prefix}}" style="width: -moz-available; width: -webkit-fill-available;"
                            class="mendc-add-form-row btn btn-full btn-margins rounded-sm btn-s bg-blue1-dark text-center font-700 text-uppercase">Tambah
                            Subarea</button>
                    </div>
                    <div class="col-6 text-center">
                        <button type="submit" style="width: -moz-available; width: -webkit-fill-available;"
                            class="btn btn-full btn-margins rounded-sm btn-sm bg-green1-dark text-center font-700 text-uppercase">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        {% include 'menu-main.html' %}
    </div>
    <script type="text/javascript" src="{% static 'scripts/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/formset-mendc.js'%} "></script>
</body>