.float {
    position: fixed;
    width: 45px;
    height: 45px;
    top: 13px;
    right: 20px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 12px;
}