{% extends "base.html" %}{% load static %}
{% block css %}{% endblock css %}

{% comment %}
{% block navbar_home %}navbar-home{% endblock navbar_home %}
{% endcomment %}

{% block navbar %}
<div class="left"></div>
<div class="title">{{title}}</div>
<div class="right"></div>
{% endblock navbar %}
{% block page_wrapper %}
<div class="list-view list-separate-two list-colored">
    <ul>
        <li>
            <a href="{% url 'cln_progress' %}" class="list-item">
                <div class="list-media">
                    <i class="icon ion-ios-star bg-blue"></i>
                </div>
                <div class="list-label">
                    <div class="list-title">Progress</div>
                    <div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
                </div>
            </a>
        </li>
        <li>
            <a href="{% url 'cln_history' %}" class="list-item">
                <div class="list-media">
                    <i class="icon ion-ios-timer bg-red"></i>
                </div>
                <div class="list-label">
                    <div class="list-title">History</div>
                    <div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
                </div>
            </a>
        </li>
        <li>
            <a href="{% url 'cln_settings' %}" class="list-item">
                <div class="list-media">
                    <i class="icon ion-ios-settings bg-green"></i>
                </div>
                <div class="list-label">
                    <div class="list-title">Area</div>
                    <div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
                </div>
            </a>
        </li>
    </ul>
</div>
{% endblock page_wrapper %}
{% block toolbar_bottom %}
<ul class="toolbar-bottom toolbar-wrap">
    <li class="toolbar-item">
        <a href="{% url 'user_home' %}" class="toolbar-link">
            <i class=" icon ion-ios-home"></i>
            <p>Home</p>
        </a>
    </li>
    <li class="toolbar-item">
        <a href="{% url 'cln_home' %}" class="toolbar-link toolbar-link-active">
            <i class="icon ion-ios-brush"></i>
            <p>Kebersihan</p>
        </a>
    </li>
    <li class="toolbar-item">
        <a href="{% url 'mendc_home' %}" class="toolbar-link">
            <i class="icon ion-ios-build"></i>
            <p>Gedung</p>
        </a>
    </li>
    <li class="toolbar-item">
        <a href="{% url 'wo_home' %}" class="toolbar-link">
            <i class="icon ion-ios-stopwatch"></i>
            <p>WO</p>
        </a>
    </li>
    <li class="toolbar-item">
        <a href="{% url 'user_profile_notification' user.username %}" class="toolbar-link">
            <i class="icon ion-ios-warning"></i>
            <p>Approval</p>
        </a>
    </li>
</ul>
{% endblock toolbar_bottom %}
{% block js %}{% endblock js %}