<!DOCTYPE HTML>
<html lang="en">
{% load static %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>GTIAPP</title>
    <link rel="stylesheet" type="text/css" href=" {% static 'styles/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}" />
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href=" {% static 'fonts/css/fontawesome-all.min.css' %}" />
    <style>
        @media (min-width: 768px) {
            .table-responsive {
                display: table;
            }

        }

        .table .btn-xxs {
            line-height: 10px;
            font-size: 5px;
            padding: 0 8px;
        }

        .table .icoon {
            box-sizing: border-box;
            font-size: larger;
            text-align: center;
            vertical-align: middle;
        }


        .table th,
        .table td {
            padding: .2rem !important;
            margin: .2rem !important;


        }

        .table .hasilTemuan {
            box-sizing: border-box;
            min-width: 25% !important;
            max-width: 35% !important;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: pre-line;
        }

        .table .hasilTemuan::first-line {
            box-sizing: border-box;
            line-height: 0;
        }

        .table .subarea {
            white-space: nowrap;
            min-width: 20% !important;
        }

        .table .kondisi,
        .table .pukul,
        .table .keterangan,
        .table .aksi {
            text-align: center;
            white-space: nowrap;
        }
    </style>
    {% block css %}
    {% endblock css %}
</head>

<body class="theme-light" data-highlight="blue2">
    <!-- <div id="preloader">
        <div class="spinner-border color-highlight" role="status"></div>
    </div> -->
    <div id="page">
        <div id="footer-bar" class="footer-bar-5">
            <a data-menu="mendc-progress"><i data-feather="globe" data-feather-line="1" data-feather-size="21"
                    data-feather-color="brown1-dark" data-feather-bg="brown1-fade-light"></i><span>Action</span></a>
            {% include 'menu.html' %}
        </div>
        <div class="page-content" style="min-height:60vh!important">
            <div class="page-title page-title-small text-center mt-2">
                <h4 class="text-white">Checklist Kebersihan</h4>
                <h6 class="text-white"><i class="fas fa-calendar-week"></i>{{tanggal | date:"l, d F Y"}}</h6>
            </div>
            <div class="card header-card shape-rounded" data-card-height="70">
                <div class="card-overlay bg-primary opacity-95"></div>
                <div class="card-overlay dark-mode-tint"></div>
                <div class="card-bg preload-img" data-src="{% static 'images/pictures/20s.jpg' %}"></div>
            </div>
            {% if harianCount == 0 %}
            <div class="card card-style text-center">
                <div class="content pt-4 pb-4">
                    <h1><i class="fa fa-exclamation-triangle color-red2-dark fa-5x"></i></h1>
                    <!-- <h1 class="fa-6x pt-5 pb-2">401</h1> -->
                    <h3 class="text-uppercase pb-3">Blank</h3>
                    <p class="boxed-text-l">
                        <h6>Click button to create areas and start working.</h6>
                    </p>
                    <div class="row mb-0">
                        <div class="col-12 pr-0"><a href="{% url 'cln_harian_zero' %}"
                                class="btn btn-m btn-center-m bg-highlight font-800 text-uppercase">Create Area</a>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            {% for area in areas %}
            <div class="card card-style mb-2">
                <div class="list-group list-custom-small list-icon-0 bg-green1-dark pl-3 pr-4"
                    style="height: 40px; line-height: 40px;">
                    <a data-toggle="collapse" href="#collapse-{{area.pk}}">
                        <i class="fas fa-clipboard-list font-14" style="line-height: 20px;"></i>
                        <span class="font-14 color-white">{{area.namaArea}}</span>
                        <i class="fa fa-angle-down" style="line-height: 40px;"></i>
                    </a>
                </div>
                <div class="collapse pt-2" id="collapse-{{area.pk}}">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th class="subarea">Subarea</th>
                                <th class="kondisi">Kondisi</th>
                                <th style="text-align: center;">HasilTemuan</th>
                                <th class="keterangan">Keterangan</th>
                                <th class="pukul">Pukul</th>
                                <th class="aksi">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subarea in subareas %}
                            {% if subarea.namaAreaSubarea.id == area.id %}
                            <tr>
                                {% for harian in harians %}
                                {% if harian.dailySubarea.id == subarea.id %}
                                <td><strong>{{subarea.namaSubarea}}</strong></td>
                                {% if harian.kondisi == None or harian.kondisi == '' %}
                                <td class="icoon kondisi"><i class="fas fa-times-circle text-danger"></i>
                                </td>
                                {% elif harian.kondisi == 'Ok' %}
                                <td class="icoon kondisi" data-toggle="tooltip" data-placement="top"
                                    title="{{harian.kondisi}}"><i class="fas fa-check-circle text-success"></i>
                                </td>
                                </td>
                                {% elif harian.kondisi == 'Not Ok' %}
                                <td class="icoon kondisi" data-toggle="tooltip" data-placement="top"
                                    title="{{harian.kondisi}}"><i class="fas fa-check-circle text-warning"></i>
                                </td>
                                </td>
                                {% endif %}
                                {% if harian.hasilTemuan == '' %}
                                <td class="icoon"><i class="fas fa-times-circle text-danger"></i></td>
                                {% else %}
                                <td class="hasilTemuan" data-toggle="tooltip" data-placement="top"
                                    title="{{harian.hasilTemuan}}">
                                    {{harian.hasilTemuan}}</td>
                                </td>
                                {% endif %}
                                {% if harian.keterangan == '' %}
                                <td class="icoon keterangan"><i class="fas fa-times-circle text-danger"></i></td>
                                {% else %}
                                <td class="icoon keterangan" data-toggle="tooltip" data-placement="top"
                                    title="{{harian.keterangan}}">
                                    <i class="fas fa-check-circle text-success"></i></td>
                                {% endif %}
                                {% if harian.kondisi != '' and harian.kondisi != None or harian.keterangan != '' or harian.hasilTemuan != '' %}
                                <td>{{harian.done | time:"H:i" }}</td>
                                {% else %}
                                <td class="icoon"><span class="text-danger">Undone</span></td>
                                {% endif %}
                                <td class="icoon"><a href="{% url 'cln_progress_check_single' harian.id %}"
                                        class="btn bg-blue1-light btn-xxs">Check</a>
                                </td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            {% endif %}
                            {% endfor %}
                            <tr>
                                <td colspan="6"><a href="{% url 'cln_progress_check_all' area.id %}"
                                        class="btn btn-xxs bg-red1-light" style="width: 100%;">Check All</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            <!-- footer and footer card-->
        </div>
        <!-- end of page content-->
        <!-- <div id="menu-main" class="menu menu-box-right menu-box-detached rounded-m" data-menu-width="260"
            data-menu-load="menu-main.html" data-menu-active="nav-pages" data-menu-effect="menu-over">
        </div> -->
        {% include 'menu-main.html' %}
        {% include 'menondc/mendc_progress_action.html' %}
    </div>
    <script type="text/javascript" src="{% static 'scripts/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/custom.js' %}"></script>
</body>