<!DOCTYPE HTML>
<html lang="en">
{% load static %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>GTIAPP</title>
    <link rel="stylesheet" type="text/css" href=" {% static 'styles/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/workorder/wo_work_detail.css' %}">
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href=" {% static 'fonts/css/fontawesome-all.min.css' %}" />
    <!-- <link rel="manifest" href="{% static '_manifest.json' %}" data-pwa-version="set_in_manifest_and_pwa_js" /> -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'app/icons/icon-192x192.png' %}" />
</head>


<body class="theme-light" data-highlight="blue2">
    <div id="preloader">
        <div class="spinner-border color-highlight" role="status"></div>
    </div>
    <div id="page">
        <div id="footer-bar" class="footer-bar-5">
            {% include 'menu.html' %}
        </div>
        <div class="page-content" style="min-height:60vh!important; ">
            <div class="card mb-3 pb-1" data-card-height="60">
                <div class="card-top">
                    <div class="page-title page-title-small">
                        <a href="{% url 'wo_home' %}" class="text-white">
                            <h4 class="text-white"><i class="fa fa-arrow-left mr-3"></i> Work Order</h4>
                        </a>
                    </div>
                </div>
                <div class="card-overlay bg-highlight opacity-95"></div>
            </div>
            <div data-card-height="50" class="card card-style shadow-xl preload-img"
                data-src="{% static 'images/pictures/13.jpg' %}" style="margin-bottom: 15px;">
                <div class="card-top text-center my-1 px-4">
                    <h6 class="color-white font-15 mb-0"> Detail Work Order </h6>
                    <p class="color-white font-15 opacity-70 mb-3"> {{days.createAt | date:"l, d F Y"}}</p>
                </div>
                <div class="card-overlay bg-black opacity-80 rounded-0"></div>
            </div>
            <div class="card card-style my-2">
                <div class="content my-2">
                    <h6 class="color-black font-12 mb-0 mt-1">Area</h6>
                    <ul class="icon-list mb-1">
                        {% for area in descriptions.area %}
                        <li><i class="fas fa-dot-circle color-green1-dark"></i>{{area}}</li>
                        {% endfor %}
                    </ul>
                    <h6 class="color-black font-12 mb-0 mt-1">Category Service</h6>
                    <ul class="icon-list mb-1">
                        {% for cs in descriptions.categoryService %}
                        <li><i class="fas fa-dot-circle color-green1-dark"></i>{{cs}}</li>
                        {% endfor %}
                    </ul>
                    <h6 class="color-black font-12 mb-0 mt-1">Description</h6>
                    <p>{{descriptions.description}}</p>
                    <h6 class="color-black font-12 mb-0 mt-1">Report</h6>
                    <p><strong>Handle by</strong> : {{workorders.woMaker.first_name}} {{workorders.woMaker.last_name}}
                    </p>
                    <p><strong>Date and Time Report</strong> : {{workorders.createAt | date:"d-m-Y" }}
                        {{workorders.createAt | date:"H:i:s" }}</p>
                    <p><strong>Duration</strong> : {{workorders.duration}}</p>
                    <p><strong>Due Date</strong> : {{workorders.dueDate}}</p>
                    <p><strong>Checker</strong> : {{workorders.woChecker.first_name}}
                        {{workorders.woChecker.last_name}}</p>
                    <p><strong>Signer</strong> : {{workorders.woSigner.first_name}} {{workorders.woSigner.last_name}}
                    </p>
                    <h6 class="color-black font-12 mb-0 mt-1">Work Order</h6>
                    <p>{{workorders.workorder}}</p>
                    <h6 class="color-black font-12 mb-0 mt-1">Progress</h6>
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Informasi</th>
                                <th>BRIKS</th>
                                <th>OSP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for rincian in rincians %}
                                <td>{{rincian.date}}</td>
                                <td>{{rincian.status}}</td>
                                <td>{{rincian.information}}</td>
                                <td>{{rincian.briksUser}}</td>
                                <td>{{rincian.ospUser}}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% include 'menu-main.html' %}
    </div>
    <script type="text/javascript" src="{% static 'scripts/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/custom.js' %}"></script>
    <script src="{%  static 'js/formset-wo.js'%} "></script>
</body>