{% extends "base.html" %}{% load static %}
{% block css %}{% endblock css %}

{% comment %}
{% block navbar_home %}navbar-home{% endblock navbar_home %}
{% endcomment %}

{% block navbar %}
<div class="left"></div>
<div class="title"></div>
<div class="right"><a href='{% url "user_profile" user.username %}' class="link"><i class="icon ion-ios-person"></i></a>
</div>
{% endblock navbar %}
{% block page_wrapper %}
<div class="section-title title-large">
    <div class="container">
        <span class="overline-title"><strong>Hi, {{user.first_name}} {{user.last_name}}</strong> </span>
        <h3 class="mb-2">{{tanggal | date:"l, d F Y"}}</h3>
    </div>
    <!-- <h3>Start Your Best Experience With Maxui</h3> -->
</div>
<!-- intro app -->
<div class="intro-app">
    <div class="container">
        <div class="intro-content">
            <div class="mask"></div>
            <img src="{% static 'images/intro.jpg' %}" alt="image-demo">
            <div class="caption">
                <h3 class="text-white mb-1">GTI Maintenance</h3>
                <p class="text-white">Selamat Bekerja</p>
            </div>
        </div>
    </div>
</div>
<!-- end intro app -->
<!-- counter -->
<div class="counter">
    <div class="container">
        <!-- feature slide -->
        <div class="feature-slide">
            <div class="swiper-container swiper-style">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="content shadow-sm">
                            <div class="info-statistic bg-blue">{{days}}</div>
                            <div class="icon"><i class="icon ion-ios-warning color-blue"></i></div>
                            <div class="text">
                                <h6>Approval and Signing</h5>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="content shadow-sm">
                            <div class="info-statistic bg-red">{{cleaning_works_done}}</div>
                            <div class="icon"><i class="icon ion-ios-brush color-red"></i></div>
                            <div class="text">
                                <h6>C.P. Kebersihan</h6>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="content shadow-sm">
                            <div class="info-statistic bg-yellow">{{menondc_works_done}}</div>
                            <div class="icon"><i class="icon ion-ios-build color-yellow"></i></div>
                            <div class="text">
                                <h6>C.P. Gedung M/E Non DC</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- separator -->
<div class="separator-small"></div>
<!-- end separator -->
{% endblock page_wrapper %}
{% block toolbar_bottom %}
<ul class="toolbar-bottom toolbar-wrap">
    <li class="toolbar-item">
        <a href="{% url 'user_home' %}" class="toolbar-link toolbar-link-active">
            <i class="icon ion-ios-home"></i>
            <p>Home</p>
        </a>
    </li>
    <li class="toolbar-item">
        <a href="{% url 'cln_home' %}" class="toolbar-link">
            <i class="icon ion-ios-brush"></i>
            <p>Kebersihan</p>
        </a>
    </li>
    <li class="toolbar-item">
        <a href="{% url 'mendc_home' %}" class="toolbar-link">
            <i class="icon ion-ios-build"></i>
            <p>Gedung</p>
        </a>
    </li>
    <li class="toolbar-item">
        <a href="{% url 'user_profile_notification' user.username %}" class="toolbar-link">
            <i class="icon ion-ios-warning"></i>
            <p>Approval</p>
        </a>
    </li>
</ul>
{% endblock toolbar_bottom %}
{% block js %}{% endblock js %}