{% extends "base.html" %}{% load static %}
{% block css %}{% endblock css %}

{% comment %}
{% block navbar_home %}navbar-home{% endblock navbar_home %}
{% endcomment %}


{% block navbar %}
<div class="left"><a href="{% url 'user_profile' user.username %}" class="link"><i
            class="icon ion-ios-arrow-back"></i></a>
</div>
<div class="title">Change Password</div>
<div class="right"></div>
{% endblock navbar %}
{% block page_wrapper %}
<!-- profile -->
<div class="profile">
    <div class="container">
        <div class="row">
            <div class="col-12 align-self-center">
                <div class="header-profile">
                    <div class="container">
                        <img src="{{user.userProfile.userPhoto.url}}" alt="image-demo">
                    </div>
                </div>
            </div>
        </div>

        <div class="profile-title text-center">
            <h4>{{user.first_name}} {{user.first_name}}</h4>
            <span class="text-small">role : <strong>{{ user.groups.all.0 }}</strong></span>
        </div>
    </div>
</div>
<!-- end profile -->
<!-- separator -->
<div class="separator-medium"></div>
<!-- end separator -->
<!-- form elements -->
<div class="form-elements">
    <div class="container">
        <form method="POST" class="form-outline form-horizontal">
            <!-- section title -->{% csrf_token %}
            <!-- end section title -->
            <div class="form-wrapper">
                <div class="input-wrap">
                    {{form.current_password}}
                    {{form.current_password.errors}}
                </div>
            </div>
            <div class="section-title" style="margin-left: 0;">
                <h6>Old Password</h6>
            </div>
            <!-- end section title -->
            <div class="form-wrapper">
                <div class="input-wrap">
                    {{form.old_password}}
                    {{form.old_password.errors}}
                </div>
            </div>
            <!-- separator -->
            <div class="separator-small"></div>
            <!-- end separator -->
            <div class="section-title" style="margin-left: 0;">
                <h6>New Password</h6>
            </div>
            <!-- end section title -->
            <div class="form-wrapper">
                <div class="input-wrap">
                    {{form.new_password1}}
                    {{form.new_password1.errors}}
                </div>
            </div>
            <!-- separator -->
            <div class="separator-small"></div>
            <!-- end separator -->
            <div class="section-title" style="margin-left: 0;">
                <h6>Confirm Password</h6>
            </div>
            <!-- end section title -->
            <div class="form-wrapper">
                <div class="input-wrap">
                    {{form.new_password2}}
                    {{form.new_password2.errors}}
                </div>
            </div>
            <!-- separator -->
            <div class="separator-medium"></div>
            <!-- end separator -->
            <div class="button-default">
                <button type="submit" class="button bg-instagram">Confirm</button>
            </div>
        </form>
    </div>
</div>
<!-- end form elements -->
{% endblock page_wrapper %}
{% block toolbar_bottom %}{% endblock toolbar_bottom %}
{% block js %}{% endblock js %}