{% extends "base.html" %}{% load static %}
{% block css %}
<style>
    .accordion-inset .accordion-content {
        padding: 10px 0 !important;
    }

    .button {
        line-height: 25px;
        margin-top: 0;
        min-width: 100%;
        width: max-content;
    }

    .button .button-extra-small {
        line-height: 20px;
        font-size: 10px;
        padding: 0 8px;
    }

    .table .icoon {
        box-sizing: border-box;
        font-size: larger;
        text-align: center;
    }

    .table th,
    .table td {
        padding: .5rem !important;
        margin: .5rem !important;
        white-space: nowrap;
        width: 1%;
    }
</style>
{% endblock css %}

{% comment %}
{% block navbar_home %}navbar-home{% endblock navbar_home %}
{% endcomment %}

{% block navbar %}
<div class="left"><a href='{% url "user_profile_notification" user.username %}' class="link"><i
            class="icon ion-ios-arrow-back"></i></a>
</div>
<div class="title">Approval and Signing</div>
<div class="right"></div>
{% endblock navbar %}

{% block page_wrapper %}
<div class="faq">
    <div class="container">
        <div class="title-faq">
            <p><i class="icon ion-ios-calendar"></i> {% for day in days %}{{ day.hariIni | date:"l, d F Y"}}
                {% endfor %}</p>
        </div>
    </div>
</div>
<!-- separator -->
<div class="separator-medium"></div>
<!-- end separator -->
<!-- accordion -->
<div id="accordionParent" class="accordion accordion-inset">
    {% for area in areas %}
    <div class="accordion-item">
        <div class="accordion-title" data-toggle="collapse" data-target="#accordionTwo{{area.pk}}">
            {{area.namaArea}}
            <div class="accordion-after">
                <i class="icon ion-ios-arrow-up"></i>
            </div>
        </div>
        <div id="accordionTwo{{area.pk}}" class="accordion-body collapse" data-parent="#accordionParent">
            <div class="accordion-content">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Subarea</th>
                            <th>Kondisi</th>
                            <th>HasilTemuan</th>
                            <th>Keterangan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subarea in subareas %}
                        {% if subarea.namaAreaSubarea.id == area.id %}
                        <tr>
                            {% for harian in harians %}
                            {% if harian.dailySubarea.id == subarea.id %}
                            <td class="subarea"><strong>{{subarea.namaSubarea}}</strong></td>
                            {% if harian.kondisi == None or harian.kondisi == '' %}
                            <td class="icoon kondisi"><i class="icon ion-ios-close-circle-outline"></i></td>
                            {% elif harian.kondisi == 'Ok' %}
                            <td class="icoon kondisi" data-toggle="tooltip" data-placement="top"
                                title="{{harian.kondisi}}"><i class="icon ion-ios-checkmark-circle-outline"></i></td>
                            </td>
                            {% elif harian.kondisi == 'Not Ok' %}
                            <td class="icoon kondisi" data-toggle="tooltip" data-placement="top"
                                title="{{harian.kondisi}}"><i class="color-red icon ion-ios-checkmark-circle"></i></td>
                            </td>
                            {% endif %}
                            {% if harian.hasilTemuan == '' %}
                            <td class="icoon"><i class="icon ion-ios-close-circle-outline"></i></td>
                            {% else %}
                            <td class="hasilTemuan" data-toggle="tooltip" data-placement="top"
                                title="{{harian.hasilTemuan}}">
                                {{harian.hasilTemuan}}</td>
                            </td>
                            {% endif %}
                            {% if harian.keterangan == '' %}
                            <td class="icoon keterangan"><i class="icon ion-ios-close-circle-outline"></i></td>
                            {% else %}
                            <td class="icoon keterangan" data-toggle="tooltip" data-placement="top"
                                title="{{harian.keterangan}}">
                                <i class="icon ion-ios-checkmark-circle-outline"></i></td>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- end accordion -->
{% endblock page_wrapper %}

{% block toolbar_bottom %}
<div class="separator-large"></div>
<ul class="toolbar-bottom toolbar-wrap">
    <li class="toolbar-item">
        <a href="{% url 'user_profile_notification' user.username %}" class="toolbar-link toolbar-link-active">
            <i class="icon ion-ios-thumbs-down"></i>
            <p>Batal dan Kembali</p>
        </a>
    </li>
    <li class="toolbar-item">
        {% for day in days %}
        {% if user.groups.all.0.name == 'maker' %}
        <a href="{% url 'user_mendc_maker_notification' user.username day.id day.hariIni %}"
            class="toolbar-link toolbar-link-active" style="color: green;">
            <i class="icon ion-ios-paper"></i>
            <p>Tanda Tangani</p>
        </a>
        {% elif user.groups.all.0.name == 'checker' %}
        <a href="{% url 'user_mendc_checker_notification' user.username day.id day.hariIni %}"
            class="toolbar-link toolbar-link-active" style="color: green;">
            <i class="icon ion-ios-paper"></i>
            <p>Tanda Tangani</p>
        </a>
        {% elif user.groups.all.0.name == 'signer' %}
        <a href="{% url 'user_mendc_signer_notification' user.username day.id day.hariIni %}"
            class="toolbar-link toolbar-link-active" style="color: green;">
            <i class="icon ion-ios-paper"></i>
            <p>Tanda Tangani</p>
        </a>
        {% endif %}
        {% endfor %}
    </li>
</ul>
{% endblock toolbar_bottom %}
{% block js %}
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock js %}