{% extends "base.html" %}{% load static %}
{% block css %}{% endblock css %}

{% comment %}
{% block navbar_home %}navbar-home{% endblock navbar_home %}
{% endcomment %}

{% block navbar %}
<div class="left"></div>
<div class="title"></div>
<div class="right"></div>
{% endblock navbar %}
{% block page_wrapper %}
<!-- separator -->
<div class="separator-large"></div>
<!-- end separator -->
<!-- reset password -->
<div class="reset-password">
    <div class="container">
        <div class="icon-title">
            <i class="icon ion-ios-unlock"></i>
            <h5 class="mb-1">Reset Password</h5>
        </div>
        <!-- separator -->
        <div class="separator-medium"></div>
        <!-- end separator -->
        <div class="testi-message">
            <p>Your Password is Successfully Changed</p>
        </div>
        <div class="button-default">
            <a href="{% url 'user_login'%}" type="submit" class="button">Back to Login</button>
        </div>
        <!-- <div class="link-forgot text-center text-small">
            <a href="{% url 'user_login'%}" class="color-theme">Forgot Password?</a>
        </div> -->
    </div>
</div>
<!-- end reset password -->
{% endblock page_wrapper %}
{% block toolbar_bottom %}
{% endblock toolbar_bottom %}
{% block js %}

{% endblock js %}