{% extends "base.html" %}{% load static %}
{% block css %}
<style>
    .button-default .button-extra-small {
        line-height: 20px;
        font-size: 10px;
        padding: 0 8px;
    }
</style>
{% endblock css %}

{% comment %}
{% block navbar_home %}navbar-home{% endblock navbar_home %}
{% endcomment %}

{% block navbar %}
<div class="left"><a href="{% url 'user_profile' user.username %}" class="link"><i
            class="icon ion-ios-arrow-back"></i></a>
</div>
<div class="title">{{title}}</div>
<div class="right"></div>
{% endblock navbar %}

{% block page_wrapper %}
<!-- newsletter -->
<div class="newsletter bg-lightblue py-2">
    <div class="section-title text-center title-large">
        <h6>Notifikasi</h6>
    </div>
</div>
<!-- Badge -->
{% if user.groups.all.0.name == 'maker' %}
<div class="badges">
    <div class="list-view">
        <div class="separator-large"></div>
        <div class="section-title">
            <h6>Checklist Kebersihan</h6>
        </div>
        <div class="separator-small"></div>
        <ul>
            {% for cln_day in cln_days %}
            <li class="list-item">
                <div class="list-media">
                    <i class="icon ion-ios-information-circle"></i>
                </div>
                <div class="list-label">
                    <div class="list-title">{{ cln_day.hariIni | date:"l, d F Y" }}</div>
                    <div class="list-after">
                        <div class="button-default text-white">
                            <a href="{% url 'user_cln_maker_notification' user.username cln_day.id %}" type="button"
                                class="button button-small mt-0">Sign</a>
                        </div>
                    </div>
            </li>
            {% empty %}
            <li class="list-item">
                <div class="list-label">
                    <div class="list-title" style='color:red'>Task Not Found</div>
            </li>
            {% endfor %}
        </ul>
        <div class="separator-large"></div>
        <div class="section-title">
            <h6>Checklist Perangkat Gedung</h6>
        </div>
        <div class="separator-small"></div>
        <ul>
            {% for mendc_day in mendc_days %}
            <li class="list-item">
                <div class="list-media">
                    <i class="icon ion-ios-information-circle"></i>
                </div>
                <div class="list-label">
                    <div class="list-title">{{ mendc_day.hariIni | date:"l, d F Y" }}</div>
                    <div class="list-after">
                        <div class="button-default text-white">
                            <a href="{% url 'user_mendc_maker_notification' user.username mendc_day.id %}" type="button"
                                class="button button-small mt-0">Sign</a>
                        </div>
                    </div>
            </li>
            {% empty %}
            <li class="list-item">
                <div class="list-label">
                    <div class="list-title" style='color:red'>Task Not Found</div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% elif user.groups.all.0.name == 'checker' %}
<div class="badges">
    <div class="list-view">
        <div class="separator-large"></div>
        <div class="section-title">
            <h6>Checklist Kebersihan</h6>
        </div>
        <div class="separator-small"></div>
        <ul>
            {% for cln_day in cln_days %}
            <li class="list-item">
                <div class="list-media">
                    <i class="icon ion-ios-information-circle"></i>
                </div>
                <div class="list-label">
                    <div class="list-title">{{ cln_day.hariIni | date:"l, d F Y" }}</div>
                    <div class="list-after">
                        <div class="button-default text-white">
                            <a href="{% url 'user_cln_checker_notification' user.username cln_day.id %}" type="button"
                                class="button button-small mt-0">Sign</a>
                        </div>
                    </div>
            </li>
            {% empty %}
            <li class="list-item">
                <div class="list-label">
                    <div class="list-title" style='color:red'>Task Not Found</div>
            </li>
            {% endfor %}
        </ul>
        <div class="separator-large"></div>
        <div class="section-title">
            <h6>Checklist Perangkat Gedung</h6>
        </div>
        <div class="separator-small"></div>
        <ul>
            {% for mendc_day in mendc_days %}
            <li class="list-item">
                <div class="list-media">
                    <i class="icon ion-ios-information-circle"></i>
                </div>
                <div class="list-label">
                    <div class="list-title">{{ mendc_day.hariIni | date:"l, d F Y" }}</div>
                    <div class="list-after">
                        <div class="button-default text-white">
                            <a href="{% url 'user_mendc_checker_notification' user.username mendc_day.id %}"
                                type="button" class="button button-small mt-0">Sign</a>
                        </div>
                    </div>
            </li>
            {% empty %}
            <li class="list-item">
                <div class="list-label">
                    <div class="list-title" style='color:red'>Task Not Found</div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% elif user.groups.all.0.name == 'signer' %}
<div class="badges">
    <div class="list-view">
        <div class="separator-large"></div>
        <div class="section-title">
            <h6>Checklist Kebersihan</h6>
        </div>
        <div class="separator-small"></div>
        <ul>
            {% for cln_day in cln_days %}
            <li class="list-item">
                <div class="list-media">
                    <i class="icon ion-ios-information-circle"></i>
                </div>
                <div class="list-label">
                    <div class="list-title">{{ cln_day.hariIni | date:"l, d F Y" }}</div>
                    <div class="list-after">
                        <div class="button-default text-white">
                            <a href="{% url 'user_cln_signer_notification' user.username cln_day.id %}" type="button"
                                class="button button-small mt-0">Sign</a>
                        </div>
                    </div>
            </li>
            {% empty %}
            <li class="list-item">
                <div class="list-label">
                    <div class="list-title" style='color:red'>Task Not Found</div>
            </li>
            {% endfor %}
        </ul>
        <div class="separator-large"></div>
        <div class="section-title">
            <h6>Checklist Perangkat Gedung</h6>
        </div>
        <div class="separator-small"></div>
        <ul>
            {% for mendc_day in mendc_days %}
            <li class="list-item">
                <div class="list-media">
                    <i class="icon ion-ios-information-circle"></i>
                </div>
                <div class="list-label">
                    <div class="list-title">{{ mendc_day.hariIni | date:"l, d F Y" }}</div>
                    <div class="list-after">
                        <div class="button-default text-white">
                            <a href="{% url 'user_mendc_signer_notification' user.username mendc_day.id %}"
                                type="button" class="button button-small mt-0">Sign</a>
                        </div>
                    </div>
            </li>
            {% empty %}
            <li class="list-item">
                <div class="list-label">
                    <div class="list-title" style='color:red'>Task Not Found</div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% endblock page_wrapper %}

{% block toolbar_bottom %}
{% endblock toolbar_bottom %}
{% block js %}
{% endblock js %}