<!DOCTYPE HTML>
<html lang="en">
{% load static %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>GTIAPP</title>
    <link rel="stylesheet" type="text/css" href=" {% static 'styles/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}" />
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href=" {% static 'fonts/css/fontawesome-all.min.css' %}" />
    <!-- <link rel="manifest" href="_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js" /> -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'app/icons/icon-192x192.png' %}" />
    {% block css %}
    {% endblock css %}
</head>

<body class="theme-light" data-highlight="blue2">
    <!-- <div id="preloader">
        <div class="spinner-border color-highlight" role="status"></div>
    </div> -->
    <div id="page">
        <div id="footer-bar" class="footer-bar-5">
            <a href="{% url 'user_profile' user.username %}"><i data-feather="user" data-feather-line="1"
                    data-feather-size="21" data-feather-color="brown1-dark"
                    data-feather-bg="brown1-fade-light"></i><span>Profile</span></a>
            {% include 'menu.html' %}
        </div>
        <div class="page-content pb-0">
            <div class="page-title page-title-small">
                <h4 data-username="{{user.first_name}} {{user.last_name}}" class="greeting-text text-white">
                </h4>
                <a href="#" data-menu="menu-main" class="bg-fade-gray1-dark shadow-xl preload-img"
                    data-src="{% static 'images/avatars/5s.png' %}"></a>
            </div>
            <div class="card header-card shape-rounded" data-card-height="95">
                <div class="card-overlay bg-highlight opacity-95"></div>
                <div class="card-overlay dark-mode-tint"></div>
                <div class="card-bg preload-img" data-src="{% static 'images/pictures/20s.jpg' %}"></div>
            </div>
            <div data-card-height="cover-card" class="card bg-transparent">
                <div class="card-center text-center">
                    <h1 class="fa-3x font-900 mb-0 color-highlight mt-lg-1">GTIAPP</h1>
                    <p class="font-13"></p>

                    <div class="row mx-auto mt-3 mb-0" style="max-width:330px;">
                        <a href="{% url 'cln_progress' %}" class="col-4">
                            <i class="fas fa-clipboard-list font-40 pt-3 color-green1-dark"></i>
                            <p>Checklist Kebersihan</p>
                        </a>
                        <a href="{% url 'mendc_progress' %}" class="col-4">
                            <i class="fas fa-building font-40 pt-3 color-blue2-dark"></i>
                            <p>Checklist Gedung</p>
                        </a>
                        <a href="{% url 'wo_home' %}" class="col-4">
                            <i class="fas fa-list-alt font-40 pt-3 color-teal-dark"></i>
                            <p>Work Order</p>
                        </a>
                        <a href="#Approval" class="col-4">
                            <div class="header-icon"><i
                                    class="fas fa-file-contract font-40 pt-3 color-magenta1-dark"></i><span
                                    class="badge bg-magenta1-dark">00</span></div>

                            <p>Approval</p>
                        </a>
                        <a href="#Inbox" class="col-4">
                            <div class="header-icon"><i
                                    class="fas fa-file-import font-40 pt-3 color-red1-dark"></i><span
                                    class="badge bg-red1-dark">00</span></div>
                            <p>Inbox</p>
                        </a>
                        <a href="#Outbox" class="col-4">
                            <div class="header-icon"><i
                                    class="fas fa-file-export font-40 pt-3 color-brown1-dark"></i><span
                                    class="badge bg-brown1-dark">00</span>
                            </div>
                            <p>Outbox</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% include 'menu-main.html' %}
    </div>
    <script type="text/javascript" src="{% static 'scripts/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/custom.js' %}"></script>
</body>