{% extends "base.html" %}{% load static %}
{% block css %}
<style>
    .button-default .button-extra-small {
        line-height: 20px;
        font-size: 10px;
        padding: 0 8px;
    }
</style>
{% endblock css %}

{% comment %}
{% block navbar_home %}navbar-home{% endblock navbar_home %}
{% endcomment %}

{% block navbar %}
<div class="left"></div>
<div class="title">Approval and Signing</div>
<div class="right"></div>
{% endblock navbar %}

{% block page_wrapper %}
<!-- newsletter -->
<!-- <div class="newsletter bg-lightblue py-2">
    <div class="section-title text-center title-large">
        <h6>Notifikasi</h6>
    </div>
</div> -->
<!-- Badge -->
{% if user.groups.all.0.name == 'maker' %}
<div class="badges">
    <div class="list-view">
        <div class="separator-large"></div>
        <div class="section-title">
            <h6>Checklist Kebersihan</h6>
        </div>
        <div class="separator-small"></div>
        <ul>
            {% for cln_day in cln_days %}
            <li class="list-item">
                <div class="list-media">
                    <i class="icon ion-ios-information-circle"></i>
                </div>
                <div class="list-label">
                    <div class="list-title"><a
                            href="{% url 'user_cln_notification_seefile' user.username cln_day.id cln_day.hariIni %}">{{ cln_day.hariIni | date:"D, d-m-Y" }}</a>
                    </div>
                    <div class="list-after">
                        <div class="button-default text-white">
                            <a href="{% url 'user_cln_notification_seefile' user.username cln_day.id cln_day.hariIni %}"
                                type="button" class="button button-small mt-0">Lihat Perkerjaan</a>
                        </div>
                    </div>
                </div>
            </li>
            {% empty %}
            <li class="list-item">
                <div class="list-label">
                    <div class="list-title" style='color:red'>Task Not Found</div>
            </li>
            {% endfor %}
        </ul>
        <div class="separator-large"></div>
        <div class="section-title">
            <h6>Checklist Perangkat Gedung</h6>
        </div>
        <div class="separator-small"></div>
        <ul>
            {% for mendc_day in mendc_days %}
            <li class="list-item">
                <div class="list-media">
                    <i class="icon ion-ios-information-circle"></i>
                </div>
                <div class="list-label">
                    <div class="list-title"><a
                            href="{% url 'user_mendc_notification_seefile' user.username mendc_day.id mendc_day.hariIni %}">{{ mendc_day.hariIni | date:"D, d-m-Y" }}</a>
                    </div>
                    <div class="list-after">
                        <div class="button-default text-white">
                            <a href="{% url 'user_mendc_notification_seefile' user.username mendc_day.id mendc_day.hariIni %}"
                                type="button" class="button button-small mt-0">Lihat Pekerjaan</a>
                        </div>
                    </div>
                </div>
            </li>
            {% empty %}
            <li class="list-item">
                <div class="list-label">
                    <div class="list-title" style='color:red'>Task Not Found</div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% elif user.groups.all.0.name == 'checker' %}
<div class="badges">
    <div class="list-view">
        <div class="separator-large"></div>
        <div class="section-title">
            <h6>Checklist Kebersihan</h6>
        </div>
        <div class="separator-small"></div>
        <ul>
            {% for cln_day in cln_days %}
            <li class="list-item">
                <div class="list-media">
                    <i class="icon ion-ios-information-circle"></i>
                </div>
                <div class="list-label">
                    <div class="list-title"><a
                            href="{% url 'user_cln_notification_seefile' user.username cln_day.id cln_day.hariIni %}">{{ cln_day.hariIni | date:"D, d-m-Y" }}</a>
                    </div>
                    <div class="list-after">
                        <div class="button-default text-white">
                            <a href="{% url 'user_cln_notification_seefile' user.username cln_day.id cln_day.hariIni %}"
                                type="button" class="button button-small mt-0">Lihat Pekerjaan</a>
                        </div>
                    </div>
            </li>
            {% empty %}
            <li class="list-item">
                <div class="list-label">
                    <div class="list-title" style='color:red'>Task Not Found</div>
            </li>
            {% endfor %}
        </ul>
        <div class="separator-large"></div>
        <div class="section-title">
            <h6>Checklist Perangkat Gedung</h6>
        </div>
        <div class="separator-small"></div>
        <ul>
            {% for mendc_day in mendc_days %}
            <li class="list-item">
                <div class="list-media">
                    <i class="icon ion-ios-information-circle"></i>
                </div>
                <div class="list-label">
                    <div class="list-title"><a
                            href="{% url 'user_mendc_notification_seefile' user.username mendc_day.id mendc_day.hariIni %}">{{ mendc_day.hariIni | date:"D, d-m-Y" }}</a>
                    </div>
                    <div class="list-after">
                        <div class="button-default text-white">
                            <a href="{% url 'user_mendc_notification_seefile' user.username mendc_day.id mendc_day.hariIni %}"
                                type="button" class="button button-small mt-0">TLihat Pekerjaan</a>
                        </div>
                    </div>
            </li>
            {% empty %}
            <li class="list-item">
                <div class="list-label">
                    <div class="list-title" style='color:red'>Task Not Found</div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% elif user.groups.all.0.name == 'signer' %}
<div class="badges">
    <div class="list-view">
        <div class="separator-large"></div>
        <div class="section-title">
            <h6>Checklist Pengelolaan Kebersihan</h6>
        </div>
        <div class="separator-small"></div>
        <ul>
            {% for cln_day in cln_days %}
            <li class="list-item">
                <div class="list-media">
                    <i class="icon ion-ios-information-circle"></i>
                </div>
                <div class="list-label">
                    <div class="list-title"><a
                            href="{% url 'user_cln_notification_seefile' user.username cln_day.id cln_day.hariIni %}">{{ cln_day.hariIni | date:"D, d-m-Y" }}</a>
                    </div>
                    <div class="list-after">
                        <div class="button-default text-white">
                            <a href="{% url 'user_cln_notification_seefile' user.username cln_day.id cln_day.hariIni %}"
                                type="button" class="button button-small mt-0">Lihat Pekerjaan</a>
                        </div>
                    </div>
            </li>
            {% empty %}
            <li class="list-item">
                <div class="list-label">
                    <div class="list-title" style='color:red'>Task Not Found</div>
            </li>
            {% endfor %}
        </ul>
        <div class="separator-large"></div>
        <div class="section-title">
            <h6>Checklist Pengelolaan Gedung</h6>
        </div>
        <div class="separator-small"></div>
        <ul>
            {% for mendc_day in mendc_days %}
            <li class="list-item">
                <div class="list-media">
                    <i class="icon ion-ios-information-circle"></i>
                </div>
                <div class="list-label">
                    <div class="list-title"><a
                            href="{% url 'user_mendc_notification_seefile' user.username mendc_day.id mendc_day.hariIni %}">{{ mendc_day.hariIni | date:"D, d-m-Y" }}</a>
                    </div>
                    <div class="list-after">
                        <div class="button-default text-white">
                            <a href="{% url 'user_mendc_notification_seefile' user.username mendc_day.id mendc_day.hariIni %}"
                                type="button" class="button button-small mt-0">Lihat Perkerjaan</a>
                        </div>
                    </div>
            </li>
            {% empty %}
            <li class="list-item">
                <div class="list-label">
                    <div class="list-title" style='color:red'>Task Not Found</div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% endblock page_wrapper %}

{% block toolbar_bottom %}
<div class="separator-large"></div>
<ul class="toolbar-bottom toolbar-wrap">
    <li class="toolbar-item">
        <a href="{% url 'user_home' %}" class="toolbar-link">
            <i class="icon ion-ios-home"></i>
            <p>Home</p>
        </a>
    </li>
    <li class="toolbar-item">
        <a href="{% url 'cln_home' %}" class="toolbar-link">
            <i class="icon ion-ios-brush"></i>
            <p>Kebersihan</p>
        </a>
    </li>
    <li class="toolbar-item">
        <a href="{% url 'mendc_home' %}" class="toolbar-link">
            <i class="icon ion-ios-build"></i>
            <p>Gedung</p>
        </a>
    </li>
    <li class="toolbar-item">
        <a href="{% url 'user_profile_notification' user.username %}" class="toolbar-link toolbar-link-active">
            <i class="icon ion-ios-warning"></i>
            <p>Approval</p>
        </a>
    </li>
</ul>
{% endblock toolbar_bottom %}
{% block js %}
{% endblock js %}