{% extends "base.html" %}{% load static %}
{% block css %}{% endblock css %}

{% comment %}
{% block navbar_home %}navbar-home{% endblock navbar_home %}
{% endcomment %}

{% block navbar %}
<div class="left"></div>
<div class="title"></div>
<div class="right"></div>
{% endblock navbar %}
{% block page_wrapper %}
<!-- separator -->
<div class="separator-large"></div>
<!-- end separator -->
<!-- reset password -->
<div class="reset-password">
    <div class="container">
        <div class="icon-title">
            <i class="icon ion-ios-unlock"></i>
            <h5 class="mb-1">Reset Password</h5>
            <span class="text-small">Enter the email address accociated with your account</span>
        </div>
        <!-- separator -->
        <div class="separator-medium"></div>
        <!-- end separator -->
        <form method="POST" class="form-fill">
            {% csrf_token %}
            <div class="form-wrapper">
                <div class="input-wrap">
                    <!-- <input type="email" placeholder="Email"> -->
                    {% for field in form %}
                    {{field}}
                    {% endfor %}
                </div>
            </div>
            <div class="button-default">
                <button type="submit" class="button">Confirm</button>
            </div>
        </form>
    </div>
</div>
<!-- end reset password -->
{% endblock page_wrapper %}
{% block toolbar_bottom %}
{% endblock toolbar_bottom %}
{% block js %}

{% endblock js %}